@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { font-size: 16px; min-height: 100%; margin: 0; padding: 0; }
body { height: 100%; }
#root { min-height: 100vh; }

main { background: hsl(275, 100%, 97%) url(./assets/images/background-pattern-mobile.svg) no-repeat center top / 375px auto }
@media (min-width: 376px) {
  main { background: hsl(275, 100%, 97%) url(./assets/images/background-pattern-desktop.svg) no-repeat center top / 1440px auto }
}

.text-dark { color: hsl(292, 42%, 14%); }
.text-light { color: hsl(292, 16%, 49%); }
